/**************/
/* CSS REMEDY */
/**************/
@font-face {
	font-family: Gilroy_Bold;
	src: url(/font/Gilroy-ExtraBold.otf);
}

@font-face {
	font-family: Gilroy_light;
	src: url(/font/Gilroy-Light.otf);
}

*,
*::after,
*::before {
	box-sizing: border-box
}

:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee; 
}

button,
summary {
	cursor: pointer;
	text-align: center;
	font-size: 1.25em;
	border-radius: 4em;
}



#Headerphoto {
height: 29em;
max-width: 100%;
}

body {
	font-family: "Gilroy", Times, serif;
}

main section:nth-of-type(1) img {
	max-width: 100%;
	background-position: unset;
	top: 0em;
	position: relative;
}

h1 {
	font-size: 2.5em;
	position: absolute;
	width: 90%;
	margin: 0 auto;
	top: 20%;
	text-align: left;
  color: white;
}

h2 {
	font-size: 2.5em;
	text-align: center;
}

h3 {
	font-size: 1.875em;
	text-align: center;
}

h4 {
	font-size: 1.25em;
	font-weight: 200;
	text-align: center;
}

h5 {
	font-weight: 200;
	font-size: 1.25em;
	text-align: center;

}

h6 {
	font-size: 2em;
	text-align: center;
}

.p1 {
	text-align: left;
	font-size: 1.1875em;
}

p {
	font-size: 1em;
	font-weight: 200;
	text-align: center;

}

.button-center {
	text-align: center;

}

main+section {
	display: flex;
}









/*********************/
/* CUSTOM PROPERTIES */
/*********************/


li {
	float: right;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-right: 4px;
	overflow: hidden;
	background-color: #EE7266;
	font-size: 12px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

a {
	text-decoration: none;

}

header nav a {
	width: 80px;
	margin-right: 160px;
}


/**********/
/* FOOTER */
/**********/

footer {
	background-color: var(--color-huisstijl-rood);
	width: 100%;
	align-content: left;
	align-items: left;
	text-align: left;
}